body{

}
*{

}
.col-lg-6 {
    height: 60px;
}
.logo{
    color: forestgreen;
    font-weight: bold;
}
ul {
    align-items: center;
    display: inline-flex;
    float: right!important;
}
ul li {
    padding: 20px;
    text-decoration: none;
    list-style: none;


}

ul li a {
    color: black;
    font-size: 18px;
}
.drawer{
   display: none;
   transition-delay: 0.4s ;
}